@font-face {
    font-family: 'elffont-rock';
    src:  url('https://cdn.jsdelivr.net/gh/Halsey888/font@main/elffont-rock.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}